- 4. what Nick was suggesting, that is, using the 180,000 genomes from 1., look at the AF of the reference alleles and Colman consensus’ alleles. Of course the same analysis could be done with Viridian’s assemblies as well, but we can start with Colman’s.

- This time you would need to look only at the position that have an alternative allele, so AF>1% or AF>0% or something like that.
    - For each of these positions, you check which are the two nucleotides, let’s call them N1 and N2 at frequencies F1 and F2=100%-F1
    - And then you need to check which of these two nucleotides is the reference nucleotide at the considered position, and which one is the nucleotide at Colman’s assembly at this position.
- We want to see what frequencies have the reference nucleotides and what frequencies have Colman’s assembly nucleotides.
- It might be that Colman’s assembly nucleotides are always >50%, but I don’t know for sure

In [22]:
import pandas as pd
df = pd.read_csv('/nfs/research/goldman/zihao/Datas/p1/File_5_annot/New_Decompress/SRR20493490_annot.txt', 
                 sep='\t')
df = df[df['AF'] > 0]
df

         POS REF ALT        AF   SB
5          6   A   G  0.466667    3
20        21   C   T  0.283465    3
70        71   C   T  0.028075   49
240      241   C   T  0.001150    2
599      600   G   A  0.001566    0
...      ...  ..  ..       ...  ...
29740  29741   C   T  0.000978    2
29747  29748   T   C  0.001205    3
29768  29769   C   A  0.001678    0
29803  29804   T   C  0.003504  656
29837  29838   C   T  0.452229   42

[236 rows x 5 columns]

REF: 
```python
/nfs/research/goldman/zihao/errorsProject_1/Consensuses/ref_MN908947.3.fasta
```

```python
import pandas as pd

fasta_file = "/nfs/research/goldman/zihao/errorsProject_1/Consensuses/ref_MN908947.3.fasta"

def read_fasta_file(file_path):
    sequences = []
    with open(file_path, 'r') as file:
        current_sequence = ""
        for line in file:
            line = line.strip()
            if line.startswith(">"):
                if current_sequence:
                    sequences.append(current_sequence)
                    current_sequence = ""
            else:
                current_sequence += line
        if current_sequence:
            sequences.append(current_sequence)
    return sequences

sequences = read_fasta_file(fasta_file)

data = {'Position': [], 'Nucleotide': []}

for sequence in sequences:
    nucleotides = list(sequence)
    positions = list(range(1, len(sequence) + 1))
    data['Position'].extend(positions)
    data['Nucleotide'].extend(nucleotides)

df = pd.DataFrame(data)

# 保存为 CSV 文件
df.to_csv('/nfs/research/goldman/zihao/errorsProject_1/Consensuses/ref_MN908947.3.txt', 
          sep='\t', index=False)
df
```

In [20]:
df_ref = pd.read_csv('/nfs/research/goldman/zihao/errorsProject_1/Consensuses/ref_MN908947.3.txt', 
          sep='\t')
df_ref

       Position Nucleotide
0             1          A
1             2          T
2             3          T
3             4          A
4             5          A
...         ...        ...
29898     29899          A
29899     29900          A
29900     29901          A
29901     29902          A
29902     29903          A

[29903 rows x 2 columns]

In [25]:
merged_df.columns

Index(['POS', 'REF', 'ALT', 'AF', 'SB', 'Position', 'Nucleotide'], dtype='object')

In [26]:
merged_df = pd.merge(df, df_ref, left_on='POS', right_on='Position')[['POS', 'REF', 'ALT', 'AF', 'Nucleotide']]

merged_df

       POS REF ALT        AF Nucleotide
0        6   A   G  0.466667          A
1       21   C   T  0.283465          C
2       71   C   T  0.028075          C
3      241   C   T  0.001150          C
4      600   G   A  0.001566          G
..     ...  ..  ..       ...        ...
231  29741   C   T  0.000978          C
232  29748   T   C  0.001205          T
233  29769   C   A  0.001678          C
234  29804   T   C  0.003504          T
235  29838   C   T  0.452229          C

[236 rows x 5 columns]

In [31]:
merged_df[merged_df['REF'] != merged_df['Nucleotide']]

Empty DataFrame
Columns: [POS, REF, ALT, AF, Nucleotide]
Index: []

In [ ]:
import pandas as pd

fasta_file = "/nfs/research/goldman/zihao/errorsProject_1/Consensuses/ref_MN908947.3.fasta"

def read_fasta_file(file_path):
    sequences = []
    with open(file_path, 'r') as file:
        current_sequence = ""
        for line in file:
            line = line.strip()
            if line.startswith(">"):
                if current_sequence:
                    sequences.append(current_sequence)
                    current_sequence = ""
            else:
                current_sequence += line
        if current_sequence:
            sequences.append(current_sequence)
    return sequences

sequences = read_fasta_file(fasta_file)

data = {'Position': [], 'Nucleotide': []}

for sequence in sequences:
    nucleotides = list(sequence)
    positions = list(range(1, len(sequence) + 1))
    data['Position'].extend(positions)
    data['Nucleotide'].extend(nucleotides)

df = pd.DataFrame(data)